In [7]:
DECLARE @TEAMID INT
select top 1 @TEAMID = teamid
from tbl_Teams
where CreatedBy = 'phjirsa@devupconf.org'

PRINT @TEAMID

In [8]:
DECLARE @TEAMID INT
SET @TEAMID = 249

delete tbl_TeamHackers
where TeamId = @TEAMID

delete tbl_Teams
where TeamId = @TEAMID